
<ion-content>
  <ion-slides pager="true" [options]="slideOpts">

    <ion-slide>
      <div class="slide">
        <img src="assets/images/location.png" alt="your image">
        <h2>บันทึกตำแหน่ง CAFE แถวมอ</h2>
        <p><b>ช่วยบอกตำแหน่ง Cafe</b> รอบมอทั้งหมดให้คุณทราบ และยังเพิ่มตำแหน่งใหม่ได้อีกด้วย</p>
      </div>
    </ion-slide>

    <ion-slide>
      <div class="slide">
        <img src="assets/images/cafe.png" alt="your image">
        <h2>เลือก CAFE</h2>
        <p><b>แสดงรายละเอียด CAFE</b> ที่คุณเลือก และสามารถแก้ไขรายละเอียด Cafe ตามใจคุณ </p>
      </div>
    </ion-slide>

    <ion-slide>
      <img src="assets/images/mobile-photo.png" alt="your image">
      <h2>ได้บันทึกตำแหน่ง CAFE</h2>
      <p>บันทึกตำแหน่ง เผื่อวันว่างๆนั่งชิลล์ทำงานยังได้<b>ถ่ายภาพสวยๆเก็บไว้ตามร้านที่คุณชื่นชอบ</b></p>
      <ion-button fill="clear" (click)="continue()" slot="end">continue <ion-icon slot="end" name="arrow-forward">
        </ion-icon>
      </ion-button>
    </ion-slide>

  </ion-slides>
</ion-content>